extends layout

block content
  .container
     h1= article.title
     h5 Written by #{article.author}
     p= article.body
     hr
     a.btn.btn-primary(href='/article/edit/'+article._id) Edit
     a.btn.btn-danger.delete-article(href='/article/'+article._id, data-id=article._id) Delete