extends layout
block content
    .row
        .col-md-6
            h1 #{title}
        .col-md-6
            a.btn.btn-primary(href="/articles/add")
    
    ul.list-group
        each article, i in articles
            li.list-group-item
               a(href="/article/"+article._id)= article.title