doctype html
html
    head
        title Knowledgebase Article
        link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet' href='/css/style.css')
        
    body
        .container
            block content
            hr
            br
            footer
                p Copyright &copy; 2020
            script(src='/bower_components/bootstrap/dist/jquery/jquery.js')
            script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
            script(src='/js/main.js')