doctype html
html
    head
        title Knowledgebase Article
        link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
    body
        block content
        hr
        br
        footer
